<div class="card">
  <h5 class="card-header p-3">{{ courseData.courseName }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ courseData.author }}</h5>
    <div class="d-flex mt-3 justify-content-between">
      <p class="card-text">price : {{ courseData.actualPrice }}</p>
      <p class="card-text ms-5">
        {{ courseData.discountPercentage }}
      </p>
    </div>
    <a href="#" class="btn btn-primary">Add to Cart</a>
    <a href="#" class="btn btn-primary ms-1">Go somewhere</a>
  </div>
</div>
