<div class="container my-5">
  <div class="row g-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <form class="d-flex w-75" (ngSubmit)="handleSearch()">
        <input
          [(ngModel)]="searchInput"
          class="form-control w-50 me-2"
          type="text"
          placeholder="Search..."
          name="search"
        />
        <button class="btn btn-primary">Search</button>
        <button
          type="reset"
          (click)="resetCoursesArr()"
          *ngIf="searchInput"
          class="btn btn-secondary ms-2"
        >
          reset
        </button>
      </form>
      <div class="d-flex align-items-center">
        <p class="fw-bold text-end mb-1 w-25 me-2">Sort By</p>
        <select
          (change)="handleSort()"
          [(ngModel)]="sortInput"
          class="form-select w-75"
          aria-label="Default select example"
          name="sort"
        >
          <option value="asc">Price ( High to Low )</option>
          <option value="desc">Price ( Low to High )</option>
        </select>
      </div>
    </div>
    <div
      *ngFor="let course of finalCoursesArr"
      class="col-sm-12 col-md-4 col-lg-4"
    >
      <app-course-item [courseData]="course"></app-course-item>
    </div>
  </div>
</div>
