<div class="container my-5">
  <div class="row g-3">
    <form class="d-flex mb-3" (ngSubmit)="handleSearch()">
      <input
        [(ngModel)]="searchInput"
        class="form-control w-50 me-2"
        type="text"
        placeholder="Search..."
        name="search"
      />
      <button class="btn btn-primary">Search</button>
    </form>
    <div *ngFor="let course of courses" class="col-sm-12 col-md-4 col-lg-4">
      <app-course-item [courseData]="course"></app-course-item>
    </div>
  </div>
</div>
