<div class="modal-header">
  <h4 class="modal-title">Confirmation</h4>
  <button
    type="button"
    class="close btn fs-3"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">Are you sure you want to Chekout?</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('No')"
  >
    No
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="activeModal.close('Yes')"
  >
    Yes
  </button>
</div>
