<div class="container my-5">
  <div class="row g-3">
    <div
      *ngIf="!coursesMap.size"
      class="d-flex flex-column gap-3 py-3 justify-content-center align-items-center"
    >
      <img src="../../../assets/images/watch-list-empty.png" alt="" />
      <h5>No Courses in Wish list.</h5>
      <button type="button" class="btn btn-primary" (click)="navigateToHome()">
        back to home
      </button>
    </div>
    <div
      *ngFor="let course of coursesMap.values()"
      class="col-sm-12 col-md-4 col-lg-6"
    >
      <app-course-item [courseData]="course"></app-course-item>
    </div>
  </div>
</div>
